

.container{
  margin:auto;
  max-width: 1024px;

}

header{
  margin:12px;
}

.api-key{
  margin:12px;
}

.user-container{
  margin:12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}